approch_02/15_channels_numpy/dataset/
processed_pointclouds/
augmented_pointclouds/
approch_02/3channels_jpg/dataset_3channels/
approch_02/3channels_jpg/dataset_2channels/
approch_02/3channels_jpg/dataset_1channels/
documentation.docx